@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-slate-50);
}

.dark body {
  background-color: var(--color-slate-950);
}
